# Exclude Python cache files
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

# Exclude virtual environments
env/
venv/

# Exclude build directories
build/
dist/

# Exclude Git files
.git
.gitignore

# Exclude Docker files
Dockerfile

# Exclude documentation and config files if not needed in the image
Documentation/
Config/

# Exclude other unnecessary files
*.md
*.json
*.txt
.cache
.h.autoSetupRemote
