# Ignore Python virtual environments
.venv/
Python/.venv/
cpp_backend/.venv/

# Existing entries
.cache/
.git/
.idea/
.vscode/
build/
Dockerfile
h.autoSetupRemote
# README.md  # Ensure README.md is tracked if needed
